<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss} %highlight{%c{1.}.%M:%L}{INFO=blue, WARN=blue, DEBUG=blue ,FATAL=blue, ERROR=blue, TRACE=blue} %highlight{%level}]: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>