<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%d{HH:mm:ss} %cyan(%c{5}) %yellow(%thread) %highlight(%level)]: %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${LogLevel:-INFO}">
        <appender-ref ref="Console"/>
    </root>
</configuration>